body{
  background: url("../img/main_BG.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#footer{
    text-align:center;
    position:fixed;
    bottom:0px;
    left:0px;
    background-color:hsl(15, 60%, 56%);
    padding:15px;
    width:100%;
} 
