@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

<p>@Html.ActionLink("Add Client", "Create", "Client")</p>
<p>@Html.ActionLink("Back to Stylists", "Index")</p>